html,body{
    background-color: rgba(234, 233, 233, 0.833)
}


.todo-container{
    border-style: solid;
    margin: 4px;
    border-width: 4px;
    padding: 4px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.date-container{
    display: flex;
    justify-content: space-between;
    margin:  4 px;
}

.first-container{
    display: flex;
    justify-content: space-between;
}

.nt-container{
    display: flex;
    flex-direction: column;
}

.tag{
    background-color: darkgoldenrod;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
}

.todo-name{
    font-weight: bold;
    margin: 4px;
}

.done-button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: green;
    color: white;
}

